version: '3.8'

services:
  # The Brain (Node + Python + Nmap)
  backend:
    build:
      context: .
      dockerfile: server/Dockerfile
    ports:
      - "5000:5000"
    environment:
      - PORT=5000
      # In Docker, we talk to other containers by service name, not localhost!
      - CLIENT_URL=http://localhost:3000

  # The Face (React + Nginx)
  frontend:
    build:
      context: ./client
      dockerfile: Dockerfile
    ports:
      - "3000:80"
    depends_on:
      - backend
