version: '3.8'

services:
  redis:
    image: redis:alpine
    ports:
      - "6379:6379"

  backend:
    build:
      context: .
      dockerfile: server/Dockerfile
    ports:
      - "5000:5000"
    environment:
      - PORT=5000
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - CLIENT_URL=http://localhost:3000
    depends_on:
      - redis

  worker:
    build: # Reuses the same image as backend!
      context: .
      dockerfile: server/Dockerfile
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
    # Override the command to run the worker script instead of the server
    command: ["node", "worker.js"]
    depends_on:
      - redis
      - backend

  frontend:
    build:
      context: ./client
      dockerfile: Dockerfile
    ports:
      - "3000:80"
    depends_on:
      - backend
